@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    display: block;
}

body {
    background-color: #e6e6e6;
}

.hide {
    display: none !important;
}

.green-light input {
    color: #222;
    background-color: #bfefbf;
}

#main {
    margin: 0 auto;
    max-width: 1200px;
    padding: 60px 15px 0;
}

.todo_wrapper {
    border-radius: 3px;
    background-color: #ee7171;
    padding: 12px;
}

.todo_filter {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #fff;
    font-size: 16px;
    padding: 5px;
    margin: 15px 0;
}

.todo_item {
    position: relative;
    display: flex;
    background-color: #fff;
    border-radius: 3px;
    margin: 4px 0;
}

.todo_item_num {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(44, 121, 192);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px 0 0 3px;
    width: 40px;
    height: 100%;
}

.todo_item_value {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: 0;
    border-radius: 3px;
    padding: 10px 15px 10px 50px;
    transition: .5s ease all;
}

.todo_panel {
    margin-top: 20px;
}

.todo_panel input {
    background-color: #fff;
    color: #222;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px 8px;
    cursor: pointer;
    transition: .5s ease all;
}

.todo_panel input:hover {
    background-color: rgb(44, 121, 192);
    border: 1px solid rgb(44, 121, 192);
    color: #fff;
}

.todo_item input[type='checkbox'] {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}